.title {
    padding-left: 1%;
    font-size: 1.8rem;
    color:  whitesmoke;
    text-shadow: 1px 1px black;
}

.content {
    background-color: #043970;
    border-radius: 3px;
    box-shadow: 1px 1px 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.itemList {
    display: flex;
    flex-wrap: wrap;
    margin: auto auto;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: 1px 1px black;
}

.itemContainer{
    margin: auto auto;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.itemContainer img{
    border-radius: 5px;
    margin: 0;
}



.serviceTools.itemInList {
    margin: auto auto;
    border-radius: 50%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;

}

