/* General Webpage CSS Properties */
body {
    background-color: whitesmoke;
    margin: auto;
}

h1, h2, p, ul, li {
    font-family: Arial, Helvetica, sans-serif;
}

/* Components CSS Properites (Shared)*/
.salesItems, .serviceTools, .recentlyRestocked {
    display: flex;
    flex-direction: row;
    margin: auto;
    flex-wrap:wrap;
    padding: 2rem;
}

.titles {
    font-size: 48px;
    color:white;
    padding-left: 20px;
}


/* Home Component CSS Properties */

.homeImg {
    width: 95%;
    border: black solid 2px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#COVIDMSG {
    justify-content: center;
    align-content: center;
    margin: auto;
    width: 80%;
    padding-top: 5px;
    background-color: lightgrey;
    font-size: 2em;
    display: block;
    border-style: solid;
}

/* Service & Tools CSS Properties */

.STItem {
    border-radius: 50%;
    border: black solid 1px;
}

/* Recently Restocked CSS Propertie */

.RRStockItems, .SalesItems  {
    border-radius: 5px;
    border: black solid 1px;
}


/* Footer CSS Properties (Footer is just an Image) */
#footerID {
    padding-top:10%;
    width: 100%;
}