body {
    background-color: whitesmoke;
    margin: auto;
}

h1, h2, p, ul, li {
    font-family: sans-serif;
}

ul.header li{
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.header {
    background-color: #0070BB;
    padding: 0;
}

ul.header li a{
    color: #FFF;
    font-weight:  bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

.content {
    background-color: #043970;
    align-content: center;
    justify-content: center;
    margin: auto;
}

.content h2{
    padding: 0;
    margin: 0;
}

.content li{
    margin-bottom: 10px;
}

.active {
    background-color: #0099FF55;
}

.salesItems, .serviceTools, .recentlyRestocked {
    display: flex;
    flex-direction: row;
    margin: auto;
    flex-wrap:wrap;
}

.salesItems li, .serviceTools li, .recentlyRestocked li {
    margin: auto;
}

.titles {
    font-size: 48px;
    color:white;
    padding-left: 20px;
}


.homeImg {
    width: 95%;
    border: black solid 2px;
}

.mainDisplay {
    margin:auto;
    width: 50vw;
    justify-content: center;
    align-content: center;
}

.STItem {
    border-radius: 50%;
    border: black solid 1px;
}

.RRStockItems, .SalesItems  {
    border-radius: 5px;
    border: black solid 1px;
}

#COVIDMSG {
    justify-content: center;
    align-content: center;
    margin: auto;
    width: 80%;
    padding: 5px;
    background-color: lightgrey;
    font-size: 2em;
    display: block;
    border-style: solid;
}

#homeDIV {
    padding: 2%;
}

/* {width:"50%", backgroundColor:"lightGrey",fontSize: "2em", display:"block", borderStyle:"solid"} */